{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "overrides": [
    {
      "files": ["**/*.ts"],
      "options": {
        "singleQuote": false,
        "semi": false
      }
    }
  ]
}
