.cart {
    padding: 10px 120px;
}

.cart h1 {
    text-align: center;
}

/* Empty Cart */
.empty-cart-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.empty-cart-items img {
    width: 350px;
    margin-bottom: -30px;
}
.empty-cart-items p {
    margin-top: -10px;
    width: 300px;
    text-align: center;
    font-size: 14px;
    color: var(--gray);
}
.empty-cart-items button {
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    padding: 13px 17px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
}
.empty-cart-items button:hover {
    background-color: transparent;
    color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}
