.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 350px;
  padding: 10px 0 40px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 350px;
}

.links a {
  margin: 10px 0;
  text-decoration: none;
  color: black;
}

.profile div {
  margin: 5px 0;
}

.profile .log-out {
  background-color: red;
  padding: 5px 10px;
  border: none;
  color: var(--white-color);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.profile .log-out:hover {
  background-color: rgb(173, 3, 3);
}

.address-container {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 15px;
}

.address-container p {
  margin: -2px 0;
}

.profile.address .add-address {
  background-color: var(--primary-color);
  border: none;
  margin: 10px 0 15px;
  color: var(--white-color);
  padding: 10px 20px;
}

.profile.address .add-address:hover {
  background-color: var(--primary-dark);
}

.address-container button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 10px;
  padding: 7px 13px;
  cursor: pointer;
  margin: 10px 5px;
}

.address-container button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

@media (max-width: 400px) {
  .profile {
    width: 280px;
  }
  .address-container {
    padding: 10px 15px;
  }
}