.address-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  box-sizing: border-box;
  box-shadow: #64646f33 0px 7px 29px 0px;
  margin-top: 40px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  z-index: 1;
  background-color: var(--white-color);
}

.address-card i {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.address-card i:hover {
  color: var(--primary-color);
}

.address-card h2 {
  text-align: center;
}
.address-card label {
  margin: 10px 0;
  width: 82%;
}
.address-card input {
  margin-top: -10px;
  padding: 7px;
  border-radius: 10px;
  width: 80%;
}

.address-card button {
  margin: 20px 0 10px;
  width: 100%;
  padding: 10px 0;
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  border-radius: 10px;
  cursor: pointer;
  width: 80%;
}

.address-card button:hover {
  background-color: var(--primary-dark);
}

@media (max-width: 700px) {
  .address-card {
    width: 250px;
    padding: 10px 15px;
  }
  .address-card input {
    padding: 4px;
  }
}