.product-card {
    width: 170px;
    /* height: 300px; */
    line-height: 0px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
}

.product-card:hover {
    transform: scale(1.07);
    transition: transform 0.5s;
}

.product-card img {
    width: 170px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card .product-title {
    margin-top: -2px;
    color: var(--gray-dark);
    line-height: 13px;
    font-size: 11px;
    padding: 0 10px;
}

.product-card .price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    align-items: baseline;
}

.product-card .price-rating p {
    color: var(--gray-dark);
}

.product-card .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
}

.product-card .price p {
    font-size: 11px;
    text-decoration: line-through;
    margin-top: 15px;
}
