.product {
    padding: 30px 120px;
}
.text {
    font-size: 13px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
}
.text span {
    color: var(--primary-color);
    font-weight: 600;
}

.products {
    display: flex;
}
.products .product-list {
    padding: 10px 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.product-list li {
    list-style: none;   
}

@media (max-width: 1250px) {
    .product {
        padding: 30px 80px;
    }
}

@media (max-width: 1000px) {
    .product {
        padding: 30px 40px;
    }
}

@media (max-width: 750px) {
    .sidebar {
        display: none;
    }

    .product {
        padding: 30px 20px;
    }

    .products .product-list {
        padding: 0;
    }
}

@media (max-width: 325px) {
    .product {
        padding: 20px 5px;
    }
}