.product {
    padding: 30px 120px;
}
.text {
    font-size: 13px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
}
.text span {
    color: var(--primary-color);
    font-weight: 600;
}

.products {
    display: flex;
}
.products .product-list {
    padding: 10px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    /* border: 1px solid var(--gray); */
}

.product-list li {
    list-style: none;
    
}