.product {
  padding: 30px 120px;
}
.text {
  font-size: 13px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray);
  cursor: pointer;
  margin-top: -10px;
}
.text span {
  color: var(--primary-color);
  font-weight: 600;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.text-filter button {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 10px;
  display: none;
}

.products {
  display: flex;
}
.products .product-list {
  padding: 30px 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product-list li {
  list-style: none;
}

@media (max-width: 1250px) {
  .product {
    padding: 30px 60px;
  }
}

@media (max-width: 1000px) {
  .product {
    padding: 30px 40px;
  }
}

@media (max-width: 750px) {
  .sidebar {
    position: fixed;
    z-index: 2;
    top: 100px;
    left: 0;
    background: white;
    overflow-y: scroll;
    height: 83vh;
    padding-left: 0;
  }

  .text-filter button {
    display: block;
  }

  .product {
    padding: 30px 20px;
  }

  .products .product-list {
    padding: 25px 0;
    justify-content: center;
  }
}

@media (max-width: 325px) {
  .product {
    padding: 20px 5px;
  }
}
