.text.add-check {
    width: 100px;
    margin-left: 60px;
    margin-top: 10px;
}

.address {
    padding: 0 60px 20px;
}

.address-checkout {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* Address form */
.address-form, .checkout-details {
    padding: 0px 30px 5px;
    box-sizing: border-box;
}
.address-list {
    display: flex;
    width: 300px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 15px;
    margin: 10px 0;
}
.address-list div {
    line-height: 5px;
    margin-left: 20px;
}
.address-form button, .checkout-details button {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.address-form button:hover, .checkout-details button:hover {
    background-color: var(--primary-dark);
}

.address-btn {
    display: flex;
    margin: 10px 0;
}
.address-btn button {
    margin: 0 10px;
    font-size: 12px;
    padding: 7px 10px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.address-btn button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.address-data input {
    margin: 4px 0;
}
.address-data div {
    line-height: 0px;
}
.address-data div p, .final-address {
    line-height: 15px;
}

/* Checkout details */
.checkout-details {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    line-height: 0px;
    width: 300px;
    height: fit-content;
    padding-bottom: 20px;
    margin-top: 30px;
}
.checkout-details .flex-div {
    display: flex;
    justify-content: space-between;
}
.checkout-details .flex-div .title-cart {
    width: 140px;
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px;
}
.checkout-address {
    font-size: 14px;
}

.checkout-price {
    width: 100%;
    margin-left: -40px;
}

.checkout-price li {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: -10px;
}

@media (max-width: 786px) {
    .address-checkout {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .address-form, .checkout-details {
        padding: 0px 10px 5px;
    }
    .address-list {
        width: 220px;
    }
    .checkout-details {
        width: 220px;
        padding: 20px 10px 5px;
    }
}